@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding: 0;
    margin: 0;
}
.container{
    display: flex;
    flex-direction: column;
}


.nav{
    display: flex;
    background-color: #1f2937;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    border-bottom: 4px dotted grey;
    
}
.nav-links{
    display: flex;
    margin-right: 24px;
    gap: 18px;
}
.nav-links > div > a{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    font-family: "Open Sans";
}
.logo {
    max-height: 100px;
    padding-left: 50px;
}


.hero{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1f2937;
}
h1, h3{
    font-family: "Open Sans";
    color: white
}
h3{
    font-weight: 500;
    margin-bottom: 36px;
}
.interior-picture{
    padding: 15px;
    border-radius: 50px;
    flex-shrink: 3;
}
.signup-button{
    background-color: #3882f6;
    border-radius: 16px;
    padding: 8px;
    color: #E5E7EB;
    font-family: "Open Sans";
    font-weight: 400px;
    text-decoration: none;
}
.name{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    flex: 1;
}

.center-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;    
    height: 800px;
    padding: 20px;
}
.center-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 26px;
    height: 600px;
}
.image-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 1400px;
}
.images{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    max-width: 240px;

}
.images > div{
    text-align: center;
    font-size: 20px;
}
.images > img{
    max-width: 260px;
    border: 5px solid #3882f6;
    border-radius: 15px;  
}
.locations-text{
    font-size: 36px;
    font-family: "Open Sans";
    font-weight: bold;
}

.footer{
    display: flex;
    color: #E5E7EB;
    background-color: #1f2937;
    justify-content: center;
    align-items: center;
    height: 60px;
}
.footer-text{
    font-size: 18px;
    font-family: "Open Sans";
}
